
                      h3{
                          float: left;
                          font-family: 仿宋;
                          color: #2e6da4;
                      }
input[type="radio"]{
    float: left;
}
