<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/tx
		   http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
           default-lazy-init="true"
           >



	<bean id="adminStatusAction" class="com.lps.action.admin.access.AdminStatusAction"
		scope="prototype">
	</bean>

	<bean id="adminAccessAction" class="com.lps.action.admin.access.AdminAccessAction"
	scope="prototype">
		<property name="adminServiceImpl" ref="adminServiceImpl"></property>
	</bean>
	
	<!-- 登录成功将跳转的界面 -->
	<bean id="adminMainAction" scope="prototype" class="com.lps.action.operation.admin.AdminMainAction">
	</bean>
	
	<!-- 公司文件存储  -->
	<bean id="companyProfile" class="com.lps.action.operation.profile.CompanyProfile" scope="prototype">
    </bean>
	 
	<bean id="webSocketTest" class="com.lps.action.operation.user.WebSocketTest">
		<property name="serverOrderServiceImpl" ref="serverOrderServiceImpl"></property>
	</bean>

</beans>