<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/tx
		   http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<bean id="userStatusAction" class="com.lps.action.user.access.UserStatusAction"
		scope="prototype">
		<property name="userServiceImpl" ref="userServiceImpl"></property>
	</bean>
	
<!-- 	<bean id="userSignInAction" scope="prototype" class="com.lps.action.user.access.UserSignInAction">
		<property name="userServiceImpl" ref="userServiceImpl"></property>
	</bean> -->
	
	<bean id="userModifyPasswordAction" scope="prototype" class="com.lps.action.operation.UserModifyPasswordAction">
		<property name="userServiceImpl" ref="userServiceImpl"></property>
	</bean>
	
	
	<bean id="userWorkDataAction" scope="prototype" class="com.lps.action.operation.UserWorkDataAction">
		<property name="serverOrderServiceImpl" ref="serverOrderServiceImpl"></property>
		<property name="userServiceImpl" ref="userServiceImpl"></property>
	</bean>
	
	<bean id="userMainAction" scope="prototype" class="com.lps.action.operation.user.UserMainAction">
	</bean>
	
	<bean id="userAccessAction" scope="prototype" class="com.lps.action.user.access.UserAccessAction"> 
		<property name="userServiceImpl" ref="userServiceImpl"></property>
	 </bean>
	 
	 <!--用户管理-->
 	 <bean id="manageUsersAction" scope="prototype" class="com.lps.action.operation.user.ManageUsersAction">
	 	<property name="userTableDataDto" ref="userTableDataDto"></property>
	 	<property name="userManage" ref="userManage"></property>
	 	<property name="userServiceImpl" ref="userServiceImpl"></property>

	 </bean>
	 
	 <bean id="userOrderAction" scope="prototype" class="com.lps.action.operation.user.UserOrderAction">
	 	<property name="orderManage" ref="orderManage"></property>
	 	<property name="orderTableDataDto" ref="orderTableDataDto"></property>
	 	<property name="orderSingleDataDto" ref="orderSingleDataDto"></property>
	 	<property name="orderChartDto" ref="orderChartDto"></property>
	 	<property name="orderStatusServiceImpl" ref="orderStatusServiceImpl"></property>
	 </bean>
	 
	 <bean id="userWorkCheckAction" scope="prototype" class="com.lps.action.operation.user.UserWorkCheckAction">
	 	<property name="workRankManage" ref="workRankManage"></property>
	 	<property name="userServiceImpl" ref="userServiceImpl"></property>
	 </bean>
	 
	 <bean scope="prototype" id="userDataAction" class="com.lps.action.operation.user.UserDataAction">
	 	<property name="userDataDto" ref="userDataDto"></property>
	 	<property name="userServiceImpl" ref="userServiceImpl"></property>
	 </bean>
	 
	 <bean scope="prototype" id="userSignInAction" class="com.lps.action.user.access.UserSignInAction">
	 	<property name="userServiceImpl" ref="userServiceImpl"></property>
	 </bean>
	 
	 <bean scope="prototype" id="userOrdersCountAction" class="com.lps.action.operation.user.UserOrdersCountAction">
	 	<property name="orderManage" ref="orderManage"></property>
	 	<property name="orderChartDto" ref="orderChartDto"></property>
	 </bean>
</beans>